body {
  color: white;
  background-color: rgb(0, 53, 114);
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh; /* ocupar a tela */
  
  display: flex;
  flex-direction: column; /* alinha um embaixo do outro */
  justify-content: center; /* centro vertical */
  align-items: center; /* centro horizontal */
}
button {
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px; /* espaço entre botões */
}

/*botão de cliques */
#btn {
  font-size: 50px;
  width: 100px;
  height: 100px;
  background: rgb(209, 6, 6);
  color: white;
  border-radius: 50%;
}

/*botão upgrade*/
#mult {
  background: rgb(209, 6, 6);
  color: white;
}
